/* Note to students:

Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!
*/

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: helvetica;
  background: #5B98C2;
  color: #080087;
}

a {
  color: ;
}

header {
  padding: 10px;
  background: #080087;
  color: #5B98C2;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

nav {
  width: 200px;
  min-height: 900px;
  float: right;
  background-color: #080087;
  color: #6CB4E5;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin-bottom: 10px;
}

section {
  width: 500px;
  float: left;
  padding: 5px;
}

footer {
  clear: right;
  padding: 10px;
  background: #5B98C2;
  text-align: ;
}
